<server>
    <featureManager>
        <feature>appSecurity-3.0</feature>
        <feature>cdi-2.0</feature>
        <feature>concurrent-1.0</feature>
        <feature>jaxrs-2.1</feature>
        <feature>jndi-1.0</feature>
        <feature>jsonb-1.0</feature>
        <feature>mpConfig-1.3</feature>
        <feature>mpJwt-1.0</feature>
        <feature>mpOpenAPI-1.0</feature>
        <feature>mpHealth-1.0</feature>
    </featureManager>

    <applicationManager autoExpand="true"/>
    
    <sslDefault sslRef="RpSSLConfig" />  
    <ssl id="RpSSLConfig"
         keyStoreRef="validationKeystore"
         trustStoreRef="validationKeystore"  />  
    <keyStore id="validationKeystore"
         password="secret2"
         type="jks"
         location="${server.config.dir}resources/security/validationKeystore.jks" /> 
         
    <jndiEntry jndiName="jwtKeyStore" value="${server.config.dir}resources/security/validationKeystore.jks"/>
           
        <mpJwt id="myMpJwt" 
           keyName="rebike" 
           issuer="https://libertybikes.mybluemix.net" 
           audiences="client"/>
    
    <httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="${httpPort}" httpsPort="${httpsPort}" />
                  
    <applicationManager autoExpand="true"/>
</server>