<server>
    <featureManager>
        <feature>appSecurity-3.0</feature>
        <feature>cdi-2.0</feature>
        <feature>concurrent-1.0</feature>
        <feature>jaxrs-2.1</feature>
        <feature>jndi-1.0</feature>
        <feature>jsonb-1.0</feature>
        <feature>mpConfig-1.2</feature>
        <feature>mpJwt-1.0</feature>
    </featureManager>

    <applicationManager autoExpand="true"/>
        <sslDefault sslRef="RpSSLConfig" />  
    <ssl
         id="RpSSLConfig"
         keyStoreRef="validationKeystore"
         trustStoreRef="validationKeystore"  />  
    <keyStore
         id="validationKeystore"
         password="secret2"
         type="jks"
         location="${server.config.dir}resources/security/validationKeystore.jks" /> 
         
    <jndiEntry jndiName="jwtKeyStore" value="${server.config.dir}resources/security/validationKeystore.jks"/>
    
    <mpJwt 
     id="myMpJwt"
     keyName="rebike"
     issuer="https://auth-service-libertybikes.mybluemix.net"
     audiences="client">
    </mpJwt>
    
    <httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="${httpPort}" httpsPort="${httpsPort}" />
                  
    <applicationManager autoExpand="true"/>
    
    <logging traceSpecification="*=info:com.ibm.ws.security.*=all:Authentication=all:com.ibm.ws.container.service.security.internal.*=all" />
</server>