build
/.apt_generated/
**/.project
**/.gradle/
**/.DS_Store
.vscode
/*/bin/
/*/build/
/*/.project
.classpath
.settings/
!org.eclipse.jdt.core.prefs
!org.eclipse.jdt.ui.prefs
/frontend/src/main/webapp/*
!/frontend/src/main/webapp/WEB-INF