build
/.apt_generated/
**/.project
**/.gradle/
**/.DS_Store
.vscode
/*/bin/
/*/build/
/*/.project
/*/.settings/org.eclipse.jdt.core.prefs
/*/.settings/org.eclipse.wst.common.component
/*/.settings/org.eclipse.wst.common.project.facet.core.xml
/*/.settings/org.eclipse.buildship.core.prefs
