$default-font: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;

/* Master Styles */
h1 {
  color: #369;
  font-family: $default-font;
  font-size: 250%;
}
h2, h3 {
  color: rgb(255, 255, 255);
  font-family: $default-font;
  font-weight: lighter;
}
html {
  min-height: 100%;
}
body {
  background: linear-gradient(to bottom, #131427, #2c2d4f) fixed;
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: #888;
  font-family: $default-font;
}

a {
  cursor: pointer;
  cursor: hand;
  text-decoration: none;
}

button {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  color: #fff;
  transition: all 0.15s ease-in-out;
}

button:disabled {
  opacity: 0.5;
}

button:hover:enabled, button:focus:enabled {
  text-shadow: 0 0 5px #fff;
  background-color: rgba(50, 50, 50, 0.2);
  border-color: #fff;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607d8b;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}

/* everywhere else */
* {
  font-family: $default-font;
}
