<div id="login-container">
  <div id="login-content">
    <div id="login-title">
      <h1>Liberty Bikes</h1>
    </div>

    <div id="login-icon">
      <img id="icon" src="../../assets/images/icon.png" width="100" alt="" />
    </div>

    <div>
      <app-slider [activePane]="pane">
        <div leftPane>
          <div class="form-group">
            <div class="form-item">
              <button type="button" (click)="showGuestLogin()">Play as Guest</button>
            </div>
            <div class="form-item">
              <button type="button" (click)="loginGoogle()">Sign in with Google</button>
            </div>
            <h2 *ngIf="isFullDevice" class="section-header">or</h2>
            <div *ngIf="isFullDevice" class="form-item">
              <button type="button" (click)="hostRound()">Host Round</button>
            </div>
          </div>
        </div>


        <div centerPane>
          <div class="form-group">
            <div class="form-item">
              <label>Username</label>
              <input type="text" id="username" name="username" [(ngModel)]="username" />
            </div>
            <div class="form-item">
              <button type="button" (click)="loginAsGuest(username)">Sign In As Guest</button>
            </div>
            <div class="form-item">
                <button type="button" (click)="cancelLogin()">Cancel</button>
              </div>
          </div>
        </div>

        <div rightPane>
          <div class="form-group">
            <div class="form-item" id="player-card">
              <label>Player</label>
              <app-player #currentPlayer [ngStyle]="currentPlayer.style" [player]="player"></app-player>
            </div>
          </div>
          <div class="form-group">
            <div class="form-item">
              <button type="button" (click)="logout()">Log Out</button>
            </div>
          </div>
          <div class="form-group">
            <div *ngIf="isFullDevice" class="form-item">
              <button type="button" (click)="quickJoin()">Play Now</button>
            </div>

            <h2 *ngIf="isFullDevice" class="section-header" style="margin-bottom: 0">or</h2>
            <div class="form-item">
              <label>Party Code</label>
              <input type="text" id="roundid" name="roundid" [(ngModel)]="party" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
            </div>
            <div class="form-item">
              <button type="button" (click)="joinParty()">Join Party</button>
            </div>
          </div>
          <div *ngIf="isFullDevice" class="form-group">
            <div class="form-item">
              <button type="button" (click)="hostRound()">Host Party</button>
            </div>
          </div>
        </div>
        
        <div queuePane>
          <div class="form-group">
            <div class="form-item">
              <h2>The current round for party {{party}} is full! Hang out a bit and you will automatically join the next round.</h2>
              <hr/>
              <!-- TODO: Display the queue number more prominently -->
              <h2>You are number {{queuePosition}} in queue</h2>
              <hr/>
              <button type="button" (click)="cancelQueue()">Leave Queue</button>
            </div>
          </div>
        </div>
      </app-slider>
    </div>
  </div>
</div>
