// Global styles for component
:host {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow-x: hidden;
}

a:hover {
  text-decoration: none;
}

button {
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: rgba(0, 0, 20, 0.2);

  text-transform: lowercase;
  font-variant: small-caps;

  border-color: #bbb;
}

h2 {
  color: #fff;
}

.glow {
  transition: all 0.3s ease-in-out;

  &:hover, &:focus {
    filter: drop-shadow(0 0 4px #fff);
  }
}

.form-group {
  width: 100%;
  margin-bottom: 30px;

  display: flex;
  flex-flow: column;
  padding-left: 10px;
  padding-right: 10px;
}

.form-item {
  width: 100%;
  margin-bottom: 10px;

  & label {
    display: initial;
    width: 100%;
    margin-bottom: -4px;
    padding-bottom: 0px;
    font-size: 0.8em;
    font-variant: small-caps;
    text-transform: lowercase;
    color: #bbb;
  }

  & input {
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    border: none;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #bbb;
    border-radius: 0px;
    transition: all 0.15s ease-in-out;

    &:hover, &:focus {
      text-shadow: 0 0 5px #fff;
      background-color: rgba(75, 75, 75, 0.2);
    }

    &:focus {
      border-color: #fff;
      outline: none;
    }
  }
}

.section-header {
  width: 100%;
  margin-bottom: 15px;

  font-size: 1.4em;
  font-variant: small-caps;
  font-weight: 300;
  text-transform: lowercase;
  text-align: center;

  color: white;
}

.caption {
  color: #ccc;
  font-style: italic;
  font-size: .7em;
  text-align: center;
  padding-bottom: 10px;
}

.explanation {
  color: #fff;
  font-size: 1em;
  text-align: center;
}

.slider {
  width: 100%;
}

.gallery {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-icon {
  width: 50px;
  margin: 0 20px;
}

.gallery-label {
  margin-top: 15px;
  color: #ccc;
  font-size: 0.8em;
}

// Main content elements

#login-container {
  transform: translateZ(0); // Hack to force Safari to render some effects properly

  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  justify-self: center;

  padding: 10px;
  height: 100%;
  top: 0;
}

#login-container h1 {
  color: #fff;
  font-weight: 300;
  font-variant: small-caps;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .7em;
  line-height: 1.5em;
  padding-left: .8em;
}

#login-content {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-title {
  margin-top: 10px;
  padding-bottom: 10px;
}

#icon {
  padding-bottom: 40px;
  transform: translateZ(0); // Hack to force Safari to render some effects properly
}

#player-card {
  height: 60px;
}

#partyid {
  text-transform: uppercase;
}

// Footer section elements

#footer {
  position: relative;

  width: 100%;
  height: 150px;
  margin: 0;

  background: radial-gradient(ellipse at top, rgba(0,0,0,0.666), rgba(0,0,0,0.2));
  border-top: 1px solid rgba(171,209,85,0.666);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.gallery {
    margin-top: 15px;
  }
}

#logo {
  position: absolute;
  top: -40px;

  & img {
    height: 80px;
  }
}

#botKey {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px 0;
}

#botKey h3 {
  padding: 10px 0;
}

// Format-specific overrides

@media screen and (min-width: 550px) {
  #login-container {
    width: 500px;
    display: flex;
    flex-direction: column;
  }

  #login-content {
    width: 400px;
  }

  #login-title {
    font-size: 1.4em;
  }

  :host::before {
    content: "";
    display: inline-block;
    min-height: 50px;
  }
}

@media screen and (max-width: 549px) {
  #login-container {
    width: 100%;
    min-height: 100%;

    background: none;
    top: 0px;
  }

  :host {
    min-height: 100%;
  }
}

@media screen and (max-width: 350px) {
  #login-title h1 {
    font-size: 2em;
  }
}
