<div class="container-fluid">
  <div class="row">
    <div class="col-auto">
      <h1>Liberty Bikes</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 offset-md-1">
      Enter Username:
    </div>
    <div class="col-md-4">
      <input type="text" id="username" name="username">
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 offset-md-1">
      Enter Round ID:
    </div>
    <div class="col-md-4">
      <input type="text" id="roundid" name="roundid">
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 offset-md-1">
      <input type="submit" class="btn btn-success" value="Login" (click)="joinRound()">
      <input type="submit" class="btn btn-success" value="Create Round" (click)="createRound()">
    </div>
  </div>
</div>
