:host {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 50px 1fr;
  min-height: 100%;
  padding-top: 15px;
}

#title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title h2 {
  transform: rotate(-90deg);
  color: white;

  text-transform: lowercase;
  font-variant: small-caps;

  letter-spacing: .1em;

  margin: 0;
  padding: 0;
}

#boardContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.leaderboard {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  margin-left: 17px;
}

.row {
  width: 100%;
  display: flex;
  align-items: center;

  margin-bottom: 5px;

  font-size: 1.5em;
  color: #fff;
}

.row span {
  margin: 0;
  padding: 0;
}

.row .rank {
  padding-left: 15px;
}

.header {
  border-left: 5px solid rgba(0, 0, 0, 0);
  // margin-left: -10px;
  // width: calc(100% - 10px);
}

.body {
  border-left: 5px solid #bbb;
  background-color: rgba(0, 0, 0, 0.3);
  flex: 1;
}

.first {
  border: 1px solid;
  border-left: 5px solid;
  border-color: #f7df69;
  color: #f7df69;
}

.second {
  border: 1px solid;
  border-left: 5px solid;
  border-color: #e7e7e7;
  color: #e7e7e7;
}

.third {
  border: 1px solid;
  border-left: 5px solid;
  border-color: #d68432;
  color: #d68432;
}

.rank {
  flex: 1;
}

.first .rank {
  background-image: url("../../../assets/images/first.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: -10px 0%;
  background-origin: content-box;

  // Use RGBA to hide the text; Edge doesn't like alpha in hex
  color: rgba(0, 0, 0, 0);
}

.second .rank {
  background-image: url("../../../assets/images/second.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: -10px 0%;
  background-origin: content-box;

  // Use RGBA to hide the text; Edge doesn't like alpha in hex
  color: rgba(0, 0, 0, 0);
}

.third .rank {
  background-image: url("../../../assets/images/third.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: -10px 0%;
  background-origin: content-box;

  // Use RGBA to hide the text; Edge doesn't like alpha in hex
  color: rgba(0, 0, 0, 0);
}

.player {
  flex: 4;
}

.value {
  flex: 1;
}

@media screen and (max-height: 799px) {
  .row {
    font-size: 1em;
  }

  .first .rank {
    background-position: -5px 0%;
  }

  .second .rank {
    background-position: -5px 0%;
  }

  .third .rank {
    background-position: -5px 0%;
  }
}

