:host {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 50px 1fr;
  min-height: 100%;
  padding-top: 15px;
}

#title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title h2 {
  transform: rotate(-90deg);
  color: white;

  text-transform: lowercase;
  font-variant: small-caps;

  letter-spacing: .1em;

  margin: 0;
  padding: 0;
}

