:host {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 50px 1fr;
  min-height: 100%;
  align-content: center;
}

#title {
  grid-area: 1 / 1 / span 2 / 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title h2 {
  transform: rotate(-90deg);
  color: white;

  text-transform: lowercase;
  font-variant: small-caps;

  letter-spacing: .1em;

  margin: 0;
  padding: 0;
}

.leaderboard-container {
  margin-left: 15px;
  margin-top: 15px;
  margin-right: 15px;
}
