:host {
  margin-top: 5px;
  margin-right: 5px;
}

.player-container {
  display: flex;
  align-items: center;

  height: 100%;
  width: 100%;

  border-left: 10px solid #bbb;
  background-color: rgba(0, 0, 0, 0.3);
}

p {
  font-size: 1.5em;
  margin: 0 10px;
  color: white;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

img {
  margin: 0 10px;
  height: 50px;
}

