<server>
    <featureManager>
        <feature>microProfile-1.3</feature>
        <feature>websocket-1.1</feature>
        <feature>jaxrs-2.1</feature>
        <feature>jsonb-1.0</feature>
        <feature>concurrent-1.0</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="${httpPort}" httpsPort="${httpsPort}" />
                  
    <applicationManager autoExpand="true"/>
    
    <keyStore id="defaultKeyStore" password="Liberty"/>
    <quickStartSecurity userName="admin" userPassword="admin"/>

    <!-- This configuration allows cross-origin HTTP requests, such
         as those from the front-end component (different port). -->
    <cors domain="/round"
          allowedOrigins="*"
          allowedMethods="GET, DELETE, POST, PUT"
          allowedHeaders="Accept, Content-Type, Authorization"
          maxAge="3600" />
</server>