<server>
    <featureManager>
        <feature>appSecurity-3.0</feature>
        <feature>cdi-2.0</feature>
        <feature>concurrent-1.0</feature>
        <feature>jaxrs-2.1</feature>
        <feature>jndi-1.0</feature>
        <feature>jsonb-1.0</feature>
        <feature>mpConfig-1.2</feature>
        <feature>mpRestClient-1.0</feature>
        <feature>mpJwt-1.0</feature>
        <feature>mpOpenAPI-1.0</feature>
        <feature>websocket-1.1</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="${httpPort}" httpsPort="${httpsPort}" />
    
    <!-- Dynamically configurable settings -->
    <jndiEntry jndiName="round/gameSpeed" value="50"/> <!-- Default = 50(ms) -->
    <jndiEntry jndiName="round/map" value="-1"/> <!-- Default = -1 (random map) -->
    <jndiEntry jndiName="round/autoStartCooldown" value="20"/> <!-- Default = 20(sec) -->
    <jndiEntry jndiName="jwtKeyStore" value="${server.config.dir}resources/security/validationKeystore.jks"/> 
    <jndiEntry jndiName="jwtKeyStorePassword" value="secret2"/> 
    <jndiEntry jndiName="jwtKeyStoreAlias" value="bike2"/> 
   
                  
    <applicationManager autoExpand="true"/>
    
    <sslDefault sslRef="RpSSLConfig" />  
    <ssl id="RpSSLConfig"
         keyStoreRef="validationKeystore"
         trustStoreRef="validationKeystore"  />  
    <keyStore id="validationKeystore"
         password="secret2"
         type="jks"
         location="${server.config.dir}resources/security/validationKeystore.jks" /> 

    <keyStore id="defaultKeyStore" password="secret2" />
    <quickStartSecurity userName="admin" userPassword="admin"/>

    <!-- This configuration allows cross-origin HTTP requests, such
         as those from the front-end component (different port). -->
    <cors domain="/"
          allowedOrigins="*"
          allowedMethods="GET, DELETE, POST, PUT"
          allowedHeaders="origin, content-type, accept, authorization, cache-control"
          maxAge="3600" />
</server>