<server>
    <featureManager>
        <feature>servlet-4.0</feature>
        <feature>mpMetrics-2.0</feature>
    </featureManager>
    
    <mpMetrics authentication="false"/>

    <httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="${httpPort}" httpsPort="${httpsPort}" />
                  
    <applicationManager autoExpand="true"/>

    <webApplication location="${application.name}" contextRoot="/"/>
</server>