<server>
    <featureManager>
        <feature>webProfile-7.0</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="${httpPort}" httpsPort="${httpsPort}" />
                  
    <applicationManager autoExpand="true"/>

    <webApplication location="${application.name}" contextRoot="/" >
    </webApplication>
</server>