$titlebar: 50px;
$navbar-border: 1px solid #ccc;

body {
  margin: 0;
  padding: 0;
}

:host {
  display: grid;
  grid-template-rows: $titlebar $titlebar 1fr;
  grid-template-columns: 1fr;
/*   display: flex;
  flex-direction: column; */

  height: 100vh;

  background-color: white;
}

.navbar {
  background-color: #eee;

  height: $titlebar;

  display: flex;
  align-items: center;

  padding: 0px 5px;
}

.navbar h1 {
  margin: 0px;
}

#titlebar {
  justify-content: center;
}

#controller {
  grid-area: 3 / 1;
  display: grid;
  justify-content: center;
  grid-template: 100vmin / 100vmin;
}

#dpad-canvas {
  display: block;
  width: 100%;
  height: 100%;

  background-image: url('../../assets/images/dpad.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#game-buttons {
  grid-area: 2 / 1;
  border-bottom: $navbar-border;
  padding: 0px 5px;
}

@media screen and (orientation: landscape) {
  :host {
    grid-template-rows: $titlebar 1fr;
  }

  #titlebar {
    display: none;
    position: absolute;
  }

  #controller {
    grid-area: 2 / 1;
    grid-template: calc(100vmin - #{($titlebar) + 100px}) / calc(100vmin - #{($titlebar) + 100px});

  }

  #game-buttons {
    grid-area: 1 / 1;
  }
}

#game-buttons .btn {
  width: calc(50% - 2.5px);
  height: 40px;
  font-size: 0.8em;
}
