<div class="container-fluid">
  <div class="row">
    <div class="col-auto">
      <h1>Liberty Bikes</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1 offset-md-1">
      <button type="button" class="btn" (click)="moveUp()">Up</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
      <button type="button" class="btn" (click)="moveLeft()">Left</button>
    </div>
    <div class="col-md-1">
      <button type="button" class="btn" (click)="moveDown()">Down</button>
    </div>
    <div class="col-md-1">
      <button type="button" class="btn" (click)="moveRight()">Right</button>
    </div>
  </div>
</div>
