$titlebar: 75px;
$navbar-border: 1px solid white;

body {
  margin: 0;
  padding: 0;
}

:host {
  display: grid;
  grid-template-rows: $titlebar minmax(140px, 1fr) 4fr $titlebar;
  grid-template-columns: 1fr minmax(600px, 3fr);
  height: 100vh;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.2);

  height: $titlebar;

  display: flex;
  align-items: center;

  padding: 10px 10px;
}

.navbar h1 {
  flex: 1;
  margin: 0px;

}

.navbar h2 {
  margin: 0px;
}

.navbar button {
  flex: 1;
  margin-left: 2px;
  margin-right: 2px;
  height: 100%;
  background-color: rgba(0, 0, 20, 0.2);

  font-size: 1.7em;

  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: .1em;

  border-color: #bbb;
}

#titlebar {
  grid-area: 1 / 2 / span 1 / -1;

  border-bottom: $navbar-border;
}

#logo {
  color: #fff;
  font-size: 1.5em;
  font-weight: 300;
  font-variant: small-caps;
  text-transform: uppercase;
  margin-left: 10px;
  letter-spacing: .7em;

  flex: 0;
  text-align: center;
}

#titlebar h2 {
  margin-right: 10px;
  color: white;
}

#game-code-display {
  font-weight: bolder;
  flex: 1;
  text-align: end;
}

#game-code {
  font-size: 1.5em;
  font-family: "Avenir-Black", "Arial Black", "Roboto Black", sans-serif;
}

#game-url-display {
  flex: 1;
  text-align: end;
  font-size: 1.5em;
  line-height: 1em;
  color: white;
}

.navbar .btn {
  font-size: 1.5em;
  margin: 5px;
  height: 75%;
}

#game-container {
  grid-area: 1 / 1 / span 4 / span 1;
  display: grid;
  justify-content: center;
  align-content: center;
  /* grid-template: calc(100vmin - #{$titlebar}) / 100vmin; */
  grid-template: 100vmin / 100vmin;
}

#game-board {
  background-color: black;
  color: white;
  position: relative;
}

#players {
  grid-area: 2 / 2;

  border-bottom: 1px solid white;
}

#leaderboard {
  grid-area: 3 / 2;
}

#playerList {
  padding: 0;
  font-size: 2em;
}

.list-group-item {
  font-size: 2em;
}

#overlayCanvas {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#gameCanvas {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  background: url('../../assets/images/game_floor.jpg');
}

#footer {
  grid-area: 4 / 2;
  border-top: $navbar-border;
}

$loaderHeightWidth:120px;
$loaderPrimaryColor:#18bc9c;
$loaderBorderSize:3px;
$loaderMinHeightWidth:10px;
$loaderMaxHeightWidth:400px;
$animationTime: 0.3s;
$animationStyle:linear;
$animationStyle:cubic-bezier(.23,.78,.69,.84);

.spin-loader {
	position:fixed;
	top:25%;
	left:50%;
	margin-left:-(calc($loaderHeightWidth/2));
	height:$loaderHeightWidth;
	width:$loaderHeightWidth;
	background:transparent;
	border:$loaderBorderSize solid;
	border-color:
		$loaderPrimaryColor
		$loaderPrimaryColor
		$loaderPrimaryColor
		darken($loaderPrimaryColor, 30);
	border-radius:50%;
	transition:all $animationTime $animationStyle;
	animation: spin 0.75s infinite linear;
}

.loader-overlay {
	position:fixed;
	top:55px;
	bottom:0;
	right:0;
	left:0;
	background:rgba(0,0,0,0.5);
	-moz-transition: opacity $animationTime $animationStyle;
	-o-transition: opacity $animationTime $animationStyle;
	-webkit-transition: opacity $animationTime $animationStyle;
	transition: opacity $animationTime $animationStyle;

	&.ng-hide {
		opacity: 0;

		.spin-loader.shrink {
			top: calc(25% + #{(calc($loaderHeightWidth/2))});
			margin-left:0;
			width:$loaderMinHeightWidth;
			height:$loaderMinHeightWidth;
		}
		.spin-loader.expand {
			top: calc(25% - #{(calc($loaderMaxHeightWidth/4))});
			margin-left:-(calc($loaderMaxHeightWidth/2));
			width:$loaderMaxHeightWidth;
			height:$loaderMaxHeightWidth;
		}
	}
}


@keyframes spin {
	0% {
		transform:rotate(0deg);
	}
	100% {
		transform:rotate(360deg);
	}
}
