<div id="titlebar" class="navbar">
  <h1>Liberty Bikes</h1>
  <div id="game-code-display" *ngIf="showPartyId">
    <h2>code: <span id="game-code">{{partyId}}</span></h2>
  </div>
</div>

<div id="loader-overlay" class="loader-overlay" *ngIf="showLoader">
	<div class="spin-loader"></div>
</div>

<div id="game-container">
  <div id="game-board">
    <canvas width="1200" height="1200" id="gameCanvas"></canvas>
  </div>
</div>
<div id="players">
  <app-player-list></app-player-list>
</div>

<div id="leaderboard">
  <rank-list></rank-list>
</div>

<div id="footer" class="navbar">
  <button type="button" (click)="startGame()">Start Game</button>
  <button type="button" (click)="requeue()">Requeue</button>
</div>
