<div id="titlebar" class="navbar">
  <h1>Liberty Bikes</h1>
  <div id="game-code-display" class="d-none">
    <h2>code: <span id="game-code"></span></h2>
  </div>
</div>
<div id="game-container">
  <div id="game-board">
    <canvas width="600" height="600" id="gameCanvas"></canvas>
  </div>
</div>
<div id="players">
  <ul id="playerList" class="list-group">
  </ul>
</div>

<div id="leaderboard">

</div>

<div id="footer" class="navbar">
  <button type="button" class="btn btn-success" (click)="startGame()">Start Game</button>
  <button type="button" class="btn btn-info" (click)="requeue()">Requeue</button>
</div>
